<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30000">
    <setting id="server_url" type="text" label="30001" default="">
      <level>0</level>
    </setting>
    <setting id="auth_method" type="integer" label="30020" default="0">
      <level>0</level>
      <constraints>
        <options>
          <option label="30021">0</option>
          <option label="30022">1</option>
          <option label="30023">2</option>
        </options>
      </constraints>
    </setting>
    <setting id="username" type="text" label="30024" default="" visible="eq(-1,0)|eq(-1,1)">
      <level>0</level>
    </setting>
    <setting id="password" type="text" label="30025" default="" option="hidden" visible="eq(-2,0)">
      <level>0</level>
    </setting>
    <setting id="user_id" type="text" label="30002" default="" enable="false">
      <level>1</level>
    </setting>
    <setting id="access_token" type="text" label="30026" default="" option="hidden" enable="false">
      <level>1</level>
    </setting>
    <setting id="api_key" type="text" label="30003" default="" option="hidden" visible="eq(-6,2)">
      <level>1</level>
    </setting>
  </category>
  <category label="30010">
    <setting id="enable_epg" type="boolean" label="30011" default="true">
      <level>0</level>
    </setting>
    <setting id="epg_update_interval" type="integer" label="30012" default="120" min="30" max="600">
      <level>1</level>
    </setting>
  </category>
  <category label="30030">
    <setting id="enable_debug" type="boolean" label="30031" default="false">
      <level>0</level>
    </setting>
    <setting id="upload_logs" type="action" label="30032" action="RunScript(special://home/addons/pvr.jellyfin/upload_logs.py)">
      <level>0</level>
    </setting>
  </category>
</settings>
