<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30000">
    <setting id="use_https" label="30040" type="bool" default="false" />
    <setting id="server_address" label="30041" type="text" default="" />
    <setting id="server_port" label="30042" type="number" default="8096" />
    <setting id="auth_method" label="30020" type="enum" values="0|1|2" lvalues="30021|30022|30023" default="0" />
    <setting id="username" label="30024" type="text" default="" />
    <setting id="password" label="30025" type="text" option="hidden" default="" />
    <setting id="api_key" label="30003" type="text" option="hidden" default="" />
    <setting id="user_id" label="30002" type="text" default="" />
    <setting id="access_token" label="30026" type="text" option="hidden" default="" visible="false" enable="false" />
  </category>
  <category label="30010">
    <setting id="enable_epg" label="30011" type="bool" default="true" />
    <setting id="epg_update_interval" label="30012" type="number" default="120" />
  </category>
  <category label="30030">
    <setting id="enable_debug" label="30031" type="bool" default="false" />
  </category>
</settings>
